@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: #fff;
}

#root {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background-color: #04d9e6 !important;
}

.wallet-adapter-button-trigger:hover {
  background-color: #62e3ef !important;
}

.radial-gradient-custom-bg {
  @apply bg-gradient-to-r;
  background-image: radial-gradient(
    circle farthest-side at 50% -96%,
    #5985de,
    #04d9e6 0%,
    #5985de 0%,
    rgba(255, 255, 255, 0)
  );
}
.radial-gradient-custom-fg {
  @apply bg-gradient-to-r;
  background-image: radial-gradient(
    circle farthest-side at 50% 0,
    #5985de,
    #04d9e6 0%,
    rgba(255, 255, 255, 0) 83%
  );
}

.drawer-overlay {
  background-color: black o !important;
}
